.textareaContainer {
    position: relative;
    
    .postButton {
      position: absolute;
      bottom: 5px;
      right: 5px;
      font-size: 16px;
      color: #fff;
      background-color: #007bff;
      border: none;
      padding: 8px 16px;
      cursor: pointer;
      border-radius: 4px;
    }
  }
  