#base-feed-options{
    background-color: white;
    border-radius: 20px;
    width: 100%;
    /* height: 60%; */
    padding-bottom: 10px;
}
/* #wtext{
    color:gray;
    cursor: pointer
} */
.middleSide {
    flex: 5;
    padding-bottom: 10px;
  }
#wtextmain{
    text-align: left;
}
#wpostcol{
    align-content: left;
}